 
<style> 
.textbox { 
    border: 3px inset #FFA5A5; 
    outline:0; 
    height:25px; 
    width: 275px; 
  } 
  .c{
	padding-top: 50px; 
	padding-right: 30px;  
	padding-bottom: 50px; 
	padding-left: 80px;
}
</style>

<body>
<div class="c" ng-controller="borrowerCtrl">
		Enter Borrower Name    : <input class="textbox" type="text" ng-model="borrower.name" name="name"/></br>
		Enter Borrower Address : <input class="textbox" type="text" ng-model="borrower.address" name="address"/></br>
		Enter Borrower Phone   : <input class="textbox" type="text" ng-model="borrower.phone" name="phone"/></br>
		</br><input type="submit" ng-click="addBorrower()" value="Add"/>
</div>
</body>