<style> 
.textbox { 
    border: 3px inset #FFA5A5; 
    outline:0; 
    height:25px; 
    width: 275px; 
  } 
  .c{
	padding-top: 50px; 
	padding-right: 30px;  
	padding-bottom: 50px; 
	padding-left: 80px;
}
</style>

<body>
<div class="c"  ng-controller="CheckOutCtrl">
<dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
</dir-pagination-controls>
Search for Branch : <input class="textbox" type="text" ng-model="searchBox" placeholder="Search for Branch "></br>
<div class="row">
	<div class="col-md-6">
<table class="table border="2" id="branchesTable" class="table">
	<tr>
		
		<th>Branch name</th>
		<th>Address</th>

		<th>Selection</th>
	</tr>

	<tr dir-paginate="b in branches | filter:searchBox | itemsPerPage:5">
		
		<td>{{b.branchName}}</td>
		<td>{{b.branchAddress}}</td>
	
		<td><button class="btn btn-success" data-toggle="modal"
				ng-click="branchSelected(b.branchId)">Select</button></td>
	</tr>
</table>
</div>
</div>


</div>
</body>