<style> 
.textbox { 
    border: 3px inset #FFA5A5; 
    outline:0; 
    height:25px; 
    width: 275px; 
  } 
  .c{
	padding-top: 50px; 
	padding-right: 30px;  
	padding-bottom: 50px; 
	padding-left: 80px;
}
</style>

<body>
<div class="c"  ng-controller="addBookCopies" top-padding: 40px;>

Search for branches : <input class="textbox" type="text" ng-model="searchBox" placeholder="Search for branches "></br>
<dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
</dir-pagination-controls>

<div class="row">
	<div class="col-md-6">
<table class="table border="2" id="branchesTable" class="table">
	<tr>
		
		<th>Branch name</th>
		<th>Address</th>
		
		<th>Select</th>
		
	</tr>

<tr dir-paginate="b221 in branches1  | filter:searchBox | itemsPerPage:5">
		
		<td>{{b221.branchName}}</td>
		<td>{{b221.branchAddress}}</td>
	
		<td ><button type="button"  class="btn btn btn-primary"
					ng-click="branchSelected(b221.branchId)">Select</button></td>

	</tr>
</table>
</div>
</div>

<div id="myModal1" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content"></div>
	</div>
</div>
</div>
</body>