<style> 
.textbox { 
    border: 3px inset #FFA5A5; 
    outline:0; 
    height:25px; 
    width: 275px; 
  } 
  .c{
	padding-top: 50px; 
	padding-right: 30px;  
	padding-bottom: 50px; 
	padding-left: 80px;
}
</style>

<body>
<div class="c" ng-controller="librarianCtrl">
<dir-pagination-controls
       max-size="5"
       direction-links="true"
       boundary-links="true" >
</dir-pagination-controls>
Search for branches : <input class="textbox" type="text" ng-model="searchBox" placeholder="Search for branches ">
<div class="row">
	<div class="col-md-6">
<table class="table border="2" id="branchesTable" class="table">
	<tr>
		
		<th>Branch name</th>
		<th>Address</th>
		
		<th>Edit</th>
		
	</tr>

	<tr dir-paginate="b1 in branch | filter:searchBox | itemsPerPage:5">
		
		<td>{{b1.branchName}}</td>
		<td>{{b1.branchAddress}}</td>
	
		<td ><button type="button"  class="btn btn btn-primary"
					ng-click="getBranchID1(b1.branchId)">Edit</button></td>
		
	</tr>
</table>
</div>
</div>

</div>
</body>